<!-- {{cms | json}} -->

<button mat-raised-button color="primary" (click)="ajouterNouveauPatient()">Ajouter un patient</button>

<h3>Infirmiers : </h3>
<div alx-dragdrop *ngIf="cms">
  <app-infirmier *ngFor="let infirmier of cms.infirmiers" [infirmier]="infirmier"></app-infirmier>

<mat-accordion alx-dropzone (alx-ondrop)="desaffecterPatient($event)">
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Patients non affectés
      </mat-panel-title>
      <mat-panel-description>
        {{ getPatientNonAffectes().length}} patient(s) non affectés
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-patient *ngFor="let patient of getPatientNonAffectes()" [patient]="patient"></app-patient>
  </mat-expansion-panel>
</mat-accordion>

</div>

<footer>
  <div class="sign" layout="row" layout-align="center center">
    <p>Jules Bernès</p>
  </div>
</footer>
