<!-- {{cms | json}} -->
<button mat-button (click)="ajouterNouveauPatient()">Ajouter un patient</button>

<span>Infirmiers : </span>
<div *ngIf="cms">
  <app-infirmier *ngFor="let infirmier of cms.infirmiers" [infirmier]="infirmier"></app-infirmier>

<mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Patient no affectés
      </mat-panel-title>
      <mat-panel-description>
        {{ getPatientNonAffectes().length}} patient(s) non affectés
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-patient *ngFor="let patient of getPatientNonAffectes()" [patient]="patient"></app-patient>
  </mat-expansion-panel>
</mat-accordion>

</div>


<!--
<div *ngIf="cms">
  <ul class="infirmiers">
    <li *ngFor="let infirmier of cms.infirmiers">
        <span class="badge">{{infirmier.id}}</span> {{infirmier.nom}}

    </li>
  </ul>
</div>

<div>
  <label>Nom patient:
    <input #nomPatient />
  </label>
  <button (click)="addPatient(nomPatient.value); nomPatient.value=''">
    ajouter
  </button>
</div>

<h1>Patients non affectés</h1>
<div *ngIf="cms">
  <ul *ngIf="patientsNonAff" class="infirmiers">
    <li *ngFor="let patient of patientsNonAff">
      <span class="badge">{{patient.nom}}</span>
      <ul *ngFor="let infirmier of cms.infirmiers">
        <li><button (click)="affPatient(infirmier,patient)">{{infirmier.nom}}</button></li>
      </ul>

    </li>
  </ul>
</div>
-->
