<h1>Addresse</h1>
<h1>Infirmiers</h1>

{{cms | json}}

<span>Infirmiers : </span>

<app-infirmier *ngIf="cms" [infirmiers]="cms.infirmiers"></app-infirmier>



<div *ngIf="cms">
  <ul class="infirmiers">
    <li *ngFor="let infirmier of cms.infirmiers">
        <span class="badge">{{infirmier.id}}</span> {{infirmier.nom}}

    </li>
  </ul>
</div>

<div>
  <label>Nom patient:
    <input #nomPatient />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addPatient(nomPatient.value); nomPatient.value=''">
    ajouter
  </button>
</div>
<h1>Patients non affectés</h1>
